<div class="container-fluid main-container">
    <div class="container align-right">
    <a href="/dashboard/newblog"><button class="btn btn-primary btn-add-post">Add POST</button></a>
    </div>
    
    {{#each blogs as |blog|}}
    <div class="card">
        <div class="card-header">
            <h3>
                {{blog.name}}
                </h3>
            <p>Posted by {{blog.user.username}} on {{format_date blog.date_created}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{blog.description}}</p>
            <a href="/blog/{{blog.id}}"><button class="btn btn-primary">View Post</button></a>
            <a href="/dashboard/{{blog.id}}"><button class="btn btn-primary">Update Post</button></a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>    
    {{/each}}
</div>