<div class="container-fluid main-container">
  <div class="card">
    <div class="card-header">
      <h3>
        {{blog.name}}
      </h3>
      <p>Posted by
        {{blog.user.username}}
        on
        {{format_date blog.date_created}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{blog.description}}</p>
    </div>
  </div>
  <div class="hidden" id="blogId">{{blog.id}}</div>
  <form class="comment-form card">
    <div class="mb-3">
      <label for="comment" class="form-label">Comment:</label>
      <textarea for="comment" id="comment-text" class="form-control"></textarea>
    </div>
    <div class="container align-right">
      <button class="btn btn-primary btn-add-post" type="submit">Add Comment</button>
    </div>
  </form>

  <div class="card">
    <div class="card-header">
      <h4>Comments</h4>
    </div>
    <div class="card-body">
      <div class="card comment-card">
        <div class="card-header comment-header">
          <h6>Someone</h6>
          <p>Date</p>
        </div>
        <div class="card-body comment-body">
          <p>text text text text text text text </p>
        </div>
      </div>
      <div class="card comment-card">
        <div class="card-header comment-header">
          <h6>Someone</h6>
          <p>Date</p>
        </div>
        <div class="card-body comment-body">
          <p>text text text text text text text </p>
        </div>
      </div>
      <div class="card comment-card">
        <div class="card-header comment-header">
          <h6>Someone</h6>
          <p>Date</p>
        </div>
        <div class="card-body comment-body">
          <p>text text text text text text text </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/addcomment.js"></script>